@use '../styles/partials/mixins' as *;

section {
    padding-top: 6em;
    padding-left: 5em;
    padding-right: 5em;
}

#elegant {
    font-size: 2.2em;
    text-align: center;
    font-weight: 600;
}

h2 {
    color: #76db6a;
    font-weight: normal;
    font-size: 1.3em;
    word-spacing: 0.3em;
}

h1 {
    font-size: 2.9em;
    font-weight: bold;
}

span {
    color: #00d4a2;
}

.item {
    @include flex (wrap_b)
}

.button_read {
    background-color: #323232;
    border-radius: 2em;
    padding: 0.6em;
    text-align: center;
    width: 10em;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease;
}

.button_read:hover {
    cursor: pointer;
    background-color: #00d9a6;
    filter: brightness(110%);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #00d9a6;
    transform: scale(0.9)
}

a {
    text-decoration: none;
    color: white;
    font-size: 0.9em;
    box-shadow: 1em;
}

li a {
    color: black;
    font-weight: 450;
    padding: 0.6em;
}

li a:hover {
    color: #00d4a2;
    cursor: grab;
}

.prev,
.next {
    width: 3em;
    height: 3em;
    margin: 10px 0;
    border-radius: 50%;
    background: #ccc;
    // position: absolute;
    cursor: pointer;
}

.prev:hover {
    background-color: #00d4a2;
}

.next:hover {
    background-color: #00d4a2;
}

.item_img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.item_img img {
    width: 90%;
}

.button_view {
    border-radius: 2em;
    padding: 0.6em;
    text-align: center;
    width: 10em;
    background-image: linear-gradient(to right, #8ddc63, #1cd595);
    box-shadow: 0px 5px 16px 6px rgba(171, 237, 222, );
    transition: all 0.3s ease;
}

.button_view:hover {
    transition: all 0.5s ease;
    transition: 2s;
    background-color: #323232;
}


.featcard_container {
    border-radius: 2em;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #f9f9f9;
    margin-top: 3em;
}

.feat_card:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, #8ddc63, #1cd595);
    border-radius: 2em;
}

.card_text:hover {
    color: #ffffff;
}

.misscard_container {
    position: relative;
}

.info-card {
    padding: 110px 30px 100px 20px;
    /* Aggiunto padding in basso e sui lati */
    opacity: 0;
    transition: opacity 0.5s ease;
    background-image: linear-gradient(to right, #8ddc63, #1cd595);
    height: 100%;
}

.col-title {
    font-size: 2em;
}

.entry-content span {
    color: #ffffff;
    margin-right: 10px;
}

.card-design {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    &:hover .info-card {
        opacity: 0.9;
    }
}

.box_card {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.box_man {
    background-image: url(/public/busy-architect-PYVKWM4-1024x872.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.overlay {
    z-index: 9;
    margin: 60px 140px 30px;
}


.box_man,
.box_woman img {
    width: 80%;
    border-radius: 20px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.514), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.user_container {
    position: relative;
}

.numbers {
    position: absolute;
    z-index: 1;
    background-image: url(/public/person-with-long-curly-hair-PZ99QM2-2x.jpg);
    background-size: cover;
    height: 550px;
    min-height: fit-content;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.514), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.colored {
    background-image: linear-gradient(to left, #8ddc63, #1cd595);
    filter: opacity(0.8);
    height: 550px;
    border-radius: 20px;
}

.colored_text p {
    font-size: 6.5em;
    color: #ffffff;
    margin-bottom: 0;
    text-align: center;
}

.vl {
    border-left: 2px solid #94eab4;
    height: 60px;
    width: 100%;
    margin-left: 5.6em;
    margin-right: auto;
}

.text_love {
    position: absolute;
    z-index: 2;
    background-color: #ffffff;
    width: 100%;
    min-height: 550px;
    top: 500px;
    border-radius: 20px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.514), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.designing {
    background-color: #ffffff;
    height: 100px;
    width: 100%;
}

.jumbo {
    background-image: url(/public/four-businesspeople-in-a-boardroom-with-paperwork-PC4V8H4.jpg);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
}

.j_colored {
    background: rgba(67, 68, 67, 0.7);
    height: 700px;
}

.woman {
    aspect-ratio: 1 / 1;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-image: url(/public/businesswoman-analysing-document-P8WSNMC-1024x820.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid #ffffff;
}

.card {
    position: relative;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.514), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card_alex {
    background-color: #ffffff;
    border-radius: 10px;
    height: 100px;
    width: 90%;
    position: absolute;
    top: 80%;
    left: 25px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.514), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.7s ease;
}


.card_alex:hover {
    background-image: linear-gradient(to left, #8ddc63, #1cd595);
    transition: 2s;
    transform: scale(1.05);
    border-radius: 15px;
    color: #ffffff !important;
}

.posts {
    background-color: #323232;
    border-radius: 2em;
    padding: 0.6em;
    text-align: center;
    width: 10em;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.514), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



// // MEDIA QUERY

// // Tablet
// @media all and (min-width: 767px) {
//     .container {
//         max-width: 767px;
//     }

//     .item_img {
//         flex-direction: row-reverse;
//         justify-content: space-between;
//         align-items: center;

//     }

// }

// // Desktop
// @media all and (max-width: 1024px) {
//     .container {
//         max-width: 1024px;
//     }
// }